.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-container {
    margin-bottom: 20px;
}

.avaliar-container {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

h1,
h2 {
    text-align: center;
}

canvas {
    max-width: 100%;
    margin: 20px 0;
}

.stars {
    text-align: center;
    margin-bottom: 10px;
}

.star {
    font-size: 24px;
    cursor: pointer;
}

.star:hover {
    color: gold;
}

#avaliar-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}