.rating-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
  }
  /* Sistema de estrelas - INICIO */
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }
 .rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    display: none; /* Está como none apenas para teste visual */
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 /* Sistema de Estrelas - FIM */
 
 
 /* Contagem de Avaliações - INICIO */
.review-count {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  /*Contagem de Avaliações - FIM */
  
  
  /* Media de Avaliações - INICIO */
  .average-rating {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  /* Media de Avaliações - FIM  */
  
  
  /* Estatisticas - INICIO  */
  .stats-bar {
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .stats-bar canvas {
    width: 100%;
    height: 100%;
  }
  .stat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .stat span:first-child {
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }
  
  .stat .bar {
    width: 200px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .stat .filled {
    height: 100%;
    background-color: rgb(62, 25, 131);
    border-radius: 5px;
  }
  
  .stat span:last-child {
    width: 50px;
    text-align: left;
  }
  /* ESTATISTICAS - FIM */
  
  /* Botão de Review - INICIO */

  .review-button {
    background-color: #3e1983;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .review-button:hover {
    background-color: #301464;
  }
  /* Botão de Review - FIM  */